a, p, body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: black;
}

li{
    display: inline;
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.center{
    text-align: center;
    }

.topleft{
    margin-top: 10px;
    margin-left: 7px;
}

.topright{
    position: relative;
    text-align: right;
    align-items: center;
}

.hplogo{
    padding-top: 192px;
    height: 92px;
    width: 272px;   
}

.country{
    background: rgba(0 , 0, 0, .54);
    line-height: 40px;
    display: inline;
    text-align: left
}