body, p {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

li {
    display: inline;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 15px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}