a, p, body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: black;
    margin: 0;
}

li{
    display: inline;
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.center{
    text-align: center;
    }

.topleft{
    margin-top: 10px;
    margin-left: 7px;
}

.topright{
    float:right;
    text-align: right;
    align-items: center;
}

.hplogo{
    padding-top: 109px;
    height: 92px;
    width: 272px;   
}

.country{
    line-height: 40px;
    display: inline;
    text-align: left
}

footer {
    background: rgb(228,228,228);
    margin: 3px;
    line-height: 40px;
}

footer a, p {
    padding-left: 27px;
    color: rgba(0, 0, 0, 0.54);
}

footer p{
    font-size:15px;
}

main, header{
    background: #fff;
}

.main{
    padding-bottom: 35px;
}

#lang{
    display: inline-block;
    line-height: 28px;
    margin-bottom: 24px;
}

#lang a{
    color: #1a0dab;
}
#footer-side-right{
    float: right;
}

#logo{
    margin-top: 89px;
}

header{
    margin-top: 16px;
}

#searchbar{
    margin-top: 37px;
}

.textinput{
    line-height: 34px;
    height: 34px;
    width: 487px;
    font-size: 16px;
}